<% provide(:title, "About") %>
<h3>About</h3>
<hr/>
<p>
Looking to buy a new book for your next long journey or a laptop for your new job or a camera to capture your precious memories?

Look no further, coz we got it all.

With the most competitive prices on the market and the highest quality products, Achats is the new destination for a wide variety of products for every destination and every occasion.

</p>