<div class="row marginTop20">
	<h4>Featured Items</h4>
</div>
<hr />
<div class="center">
	<div class="row mediumMarginBottom">
	<% @products.each do |product| %>
		<div class="col-sm-5ths">
			<%= link_to image_tag(product.remoteproductimage,height:'160',weight:'160'), product_path(@product, :productid => product.productid) %>
			<p class="lesserMarginBottom"> <%= number_to_currency product.unitcost %> </p>
			<%= link_to truncate(product.productname,:length =>25,:omission => '.....'), product_path(@product, :productid => product.productid) %>
		</div>
    <% end %>
	</div>
</div>


<div class="row marginTop20">
	<h4>Best Sellers</h4>
</div>
<hr />
<div class="center">
	<div class="row mediumMarginBottom">
	<% @productbests.each do |product| %>
		<div class="col-sm-5ths">
			<%= link_to image_tag(product.remoteproductimage,height:'160',weight:'160'), product_path(@product, :productid => product.productid) %>
			<p class="lesserMarginBottom"> <%= number_to_currency product.unitcost %> </p>
			<%= link_to truncate(product.productname,:length =>25,:omission => '.....'), product_path(@product, :productid => product.productid) %>
		</div>
    <% end %>
	</div>
</div>