<h1> News </h1> <hr/>


<div class="news">
  <h4> MOST POPULAR </h4> <br/>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://assets.entrepreneur.com/content/3x2/274/20150316052356-shutterstock-232609255.jpeg"/>
	</div>
	<div class="col-sm-5">
      <a href="http://www.entrepreneur.com/article/251386">The Top 5 Reasons You Should Start an Ecommerce Business</a> 
	  <p>Even as a beginner in ecommerce, the tools and resources are all laid out for you. All you need is a strong work ethic and a desire to succeed.</p>
	</div>
  </div>
  
  <br/>
  <hr/>
  <br/>
  <div class="row">
	<div class="col-sm-4">
      <img src="https://assets.entrepreneur.com/content/3x2/274/20150821155336-gifs-coming-facebook-posts.jpeg"/>
    </div>
	<div class="col-sm-5">
	  <a href="http://www.entrepreneur.com/article/251632">Facebook Is Trying to Get Mobile Users to Shop Directly Through Its App</a>
	  <p>The social giant is testing out a few ecommerce features that make it easier to purchase on the go.</p>
	</div>
  </div>
</div>

