<% provide(:title, 'Contact') %>
<h3>Contact Us</h3> <hr/>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <%= form_for @message do |f| %>
      <% if @message.errors.any? %>
        <div class="error_messages">
          <h4><%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:</h4>
          <ul>
          <% @message.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
 
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name,:value => (@current_user.name if logged_in?), class: 'form-control' %>
	  </div>
      
	  <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email,:value => (@current_user.email if logged_in?), class: 'form-control' %>
      </div>
	  
	  <div class="form-group">
        <%= f.label :content, "Message" %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
	  
      <%= f.submit "Send Message", class: "btn btn-primary buttonColor" %>
    <% end %>
  </div>
</div>
