<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 topMarginSigninContainer">
    <%= form_for(:session, url: login_path) do |f| %>
      <h1>Sign in</h1>
	  
	  <div class="form-group">
          <%= f.label :email,:class => "col-sm-5 control-label" %>
		<div class="col-sm-7">
          <%= f.email_field :email, class: 'form-control' %>
        </div>
	  </div>
	  
	  <div class="form-group">
        <%= f.label :password,:class => "col-sm-5 control-label" %>
		<div class="col-sm-7">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-8">	  
	      <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
            <span id="remember">Remember me</span>
          <% end %>
	    </div>
		<div class="col-sm-4"> <%= link_to "(forgot password)", new_password_reset_path %> </div>
	  </div>
	 
	  <div class="form-group">
	    <div class="col-sm-5"></div>
	    <div class="col-sm-7">
          <%= f.submit "Log in", class: "btn btn-primary buttonColor" %>
		</div>
	  </div>
    <% end %>

	  <div class="form-group">
	    <div class="col-sm-4"></div>
	    <div class="col-sm-8">
		  <p></p>
          <p>New to Achats? <%= link_to "Sign up now!", signup_path %></p>
		</div>
      </div>
  </div>
</div>