<% provide(:title, 'Reset password') %>


<div class="row">
  <div class="col-md-6 col-md-offset-3" id="loginForm">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <h1>Reset password</h1>
	  <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

	  <div class="form-group">
          <%= f.label :password,:class => "col-sm-5 control-label" %>
		<div class="col-sm-7">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
	  </div>
	  
	  <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation" , :class => "col-sm-5 control-label" %>
		<div class="col-sm-7">
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
	  </div>
      
	  <div class="form-group">
	    <div class="col-sm-5"></div>
	    <div class="col-sm-7">
          <%= f.submit "Update password", class: "btn btn-primary" %>
		</div>
	  </div>

    <% end %>
  </div>
</div>