<% provide(:title, "Forgot password") %>


<div class="row">
  <div class="col-md-6 col-md-offset-3" id="loginForm">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
	  <h1>Forgot password</h1>
	  
      <div class="form-group">
          <%= f.label :email,:class => "col-sm-5 control-label" %>
		<div class="col-sm-7">
          <%= f.email_field :email, class: 'form-control' %>
        </div>
	  </div>
	  
	  <div class="form-group">
	    <div class="col-sm-5"></div>
	    <div class="col-sm-5">
          <%= f.submit "Submit", class: "btn btn-primary" %>
		</div>
	  </div>
      
    <% end %>
  </div>
</div>