Hi <%= @user.name %>, 

Welcome to Achats! Thanks for signing up. You must click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

Cheers,
Achats Team
