<h1><%= link_to "Achats", "https://shopping-site-new.herokuapp.com/" , id: "logo" %></h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Achats! Thanks for signing up. You must click on the link below to activate your account:
</p>

<p><%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email)%>
</p>

Cheers,<br/>
Achats Team<br/>
<a href='https://shopping-site-new.herokuapp.com/'> Achats.com </a>