<h1>Password reset</h1>

<p>Hi <%= @user.name %>,</p>

<p>You have requested to reset your password for your Achats account. Use the following link to reset your password:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>This link will expire in three hours.</p>

<p>If you did not request a password reset, no action is required.</p>


Thanks,<br/>
Achats Team<br/>
<a href='https://shopping-site-new.herokuapp.com/'> Achats.com </a>