Hi <%= @user.name %>,

You have requested to reset your password for your Achats account. Use the following link to reset your password:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

This link will expire in three hours.

If you did not request a password reset, no action is required.

Thanks,
Achats Team