<div class="row">
  <div class="col-sm-2">
	<p> <%= link_to user.name,user %> </p>
  </div>
  <div class="col-sm-4">
	<% if current_user.admin? && !current_user?(user)%>
		<%= link_to "delete", user , method: :delete, data: {confirm: "Are you sure you want to delete this user?"}%>
	<% end %>
  </div>
  <div class="col-sm-6"></div>
</div>