<% provide(:title,"Edit user") %>

<div class="row">
	<div class="col-md-6 col-md-offset-3 topMarginSignupContainer">
		<%= form_for(@user) do |f|%>
		  <h1> Update Account Information </h1>
		  <%= render 'shared/error_messages', object: f.object %>
			
		  <div class="form-group">
		    <%= f.label :name, "Full Name:" ,:class => "col-sm-5 control-label"%>
		    <div class="col-sm-7">
		      <%= f.text_field :name, class: 'form-control' %>
		    </div>
		  </div>
			
		  <div class="form-group">
		    <%= f.label :email, "Email:",:class => "col-sm-5 control-label" %>
		  	<div class="col-sm-5">
		        <%= f.email_field :email, class: 'form-control' %>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <%= f.label :password, "Password:",:class => "col-sm-5 control-label" %>
		  	<div class="col-sm-7">
		        <%= f.password_field :password, class: 'form-control' %>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <%= f.label :password_confirmation, "Password Confirmation:" ,:class => "col-sm-5 control-label" %>
		  	<div class="col-sm-7">
		        <%= f.password_field :password_confirmation, class: 'form-control' %>
		  	</div>
		  </div>
		  
		  <div class="form-group">
	        <div class="col-sm-5"></div>
	        <div class="col-sm-7">
			  <%= f.submit "Save Changes", class: "btn btn-primary buttonColor" %>
			</div>
		  </div>
		<% end %>
	</div>
</div>