<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 topMarginSignupContainer">
    <%= form_for(@user) do |f| %>
	  <h1>Registration </h1>
	  <h2>New to Achats?  Register Below.</h2>
	  <%= render 'shared/error_messages' %>
	  
	  <div class="form-group">
        <%= f.label :name, "Full Name",:class => "col-sm-5 control-label" %>
	    <div class="col-sm-7">
          <%= f.text_field :name, class: 'form-control' %>
	    </div>
	  </div>
	  
	  <div class="form-group">	  
        <%= f.label :email,:class => "col-sm-5 control-label" %>
	    <div class="col-sm-7">
          <%= f.email_field :email, class: 'form-control' %>
        </div>
	  </div>
	  
	  <div class="form-group">	  
        <%= f.label :password,:class => "col-sm-5 control-label" %>
	    <div class="col-sm-7">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
	  </div>
	  
	  <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation",:class => "col-sm-5 control-label" %>
	    <div class="col-sm-7">
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
	  </div>
	  
	  <div class="form-group">
	    <div class="col-sm-5"></div>
	    <div class="col-sm-7">
          <%= f.submit "Create account", class: "btn btn-primary buttonColor" %>
		</div>
	  </div>
    <% end %>
  </div>
</div>