<script>

// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clienttoken= '<%= @client_token %> ';
braintree.setup(clienttoken, 'dropin', {
    container: 'dropin'
  });
  
</script>