<ul>
  <% order.order_items.each do |product| %>
    <li>
      <span>
	    <%= product.quantity %>
        <%= product.product.productname %>
         <%= number_to_currency product.total_amount %>
	  </span>
	</li>
  <% end %>
</ul>

<p>
  <strong>
    Total price:
    <%= number_to_currency order.total_amount %>
  </strong>
</p>
