<h1> Enter payment </h1>

<%= render "orderInfo", order: @order %>

<%= form_tag pay_order_path do %>
  <div id="dropin"></div>
  <%= submit_tag "Place your order", class: "btn btn-primary" %>
  <%= render "braintree" %>
<% end %>
