<h3> All orders </h3> <br/>

<div class="row">
  <div class="col-sm-1"> <b> OrderID </b> </div>
  <div class="col-sm-4"> <b> Products </b> </div>
  <div class="col-sm-1"> <b> Total </b> </div>
  <div class="col-sm-3"> <b> Address </b> </div>
  <div class="col-sm-2"> <b> Order Date </b> </div>
  <div class="col-sm-1"> <b> Status </b> </div>  
</div>

<hr>


<% @orders.each do |order| %>
  <div class="row container">
    <div class="col-sm-1"> <%= order.id %> </div>
   
    <div class="col-sm-4">
      <ul>
        <% order.order_items.each do |product| %>
          <li>
		    <%= truncate(product.product.productname,:length =>100,:omission => '.....') %>
            <%= product.quantity %>
          </li>
        <% end %>
	  </ul>
    </div>
	
	<div class="col-sm-1"> <%= number_to_currency order.total_amount %> </div>
	
	<div class="col-sm-3">
      Address:
      <strong> <%= order.address.fullname %> </strong><br/>
	  <%= simple_format order.address.full_address %>
	</div>
	
	<div class="col-sm-2">
      <p> <%= time_ago_in_words order.created_at %> </p>
      <p> <%= order.created_at.strftime "%b %d, %Y - %H:%M" %> </p>
    </div>
      
	<div class="col-sm-1"> <%= order.state %> </div>
	</div>
<% end %>
