<html>
<h3> Checkout </h3>
<hr/>
<ul>
  <% @cart.products.each do |product| %>
    <li>
      <span>
	    <%= product.quantity %>
        <%= product.product.productname %>
         <%= number_to_currency product.total_cost %>
	  </span>
	</li>
  <% end %>
</ul>

<p>
  <strong>
    Total price:
    <%= number_to_currency @cart.total_cost %>
  </strong>
</p>

<%= form_for @order_form, url: orders_path do |form| %>
  <%= render 'orders/error_messages' %>
  <%= form.fields_for :address, form.object.address do |address| %>
    <div class= "form-group">
      <p> <%= address.text_field :fullname, placeholder: "Enter Name", class: "form-control" %> </p>
      <p> <%= address.text_field :address_line_1, placeholder: "Address Line 1", class: "form-control" %> </p>
	  <p> <%= address.text_field :address_line_2, placeholder: "Address Line 2", class: "form-control" %> </p>
      <p> <%= address.text_field :city, placeholder: "City", class: "form-control" %> </p>
	  <p> <%= address.text_field :region, placeholder: "State / Region", class: "form-control" %> </p>
	  <p> <%= address.text_field :postal_code, placeholder: "Postal code / Zipcode", class: "form-control" %> </p>
      <p> <%= address.country_select :country, { priority_countries: [ "GB", "US", "DE", "IN", "CN", "JP", "PT","ES"] }, { class: "form-control" } %> </p>
	  <p> <%= address.text_field :phone, class: "form-control", placeholder: "Phone" %> </p>
    </div>
	
	<div id="dropin"></div>
    <p> <%= form.submit "Place order", class: "btn btn-primary" %>
  <% end %>
<% end %>

<script>

// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clienttoken= '<%= @client_token %> ';
braintree.setup(clienttoken, 'dropin', {
    container: 'dropin'
  });
  
</script>
</html>