<h3> Shopping cart </h3>
<hr/>

<div>
  <% @cart.products.each do |product| %>
    <div class="row">
      <div class="col-sm-2">
          <%= image_tag product.product.remoteproductimage %>
		  <%= link_to 'Remove',  {:controller => "carts", :action => "destroy", :productid => product.productid },:method => :delete, :data => { :confirm => 'Are you sure you want to delete this product from the cart?'+product.productid }%>
      </div>
      <div class="col-sm-6">
	    <%= link_to product.product.productname, product.product %> 
	  </div>
	  <div class="col-sm-2">
	     <%= number_to_currency product.total_cost %> 
	  </div>
      <div class="col-sm-2">
   	    <%= product.quantity %>
	  </div>
	</div> <br/>
  <% end %> 
<div>
    <div class="row">
      <div class="col-sm-4">
        <strong>
          Total: 
          <%= number_to_currency @cart.total_cost %>
		</strong>
	  </div>
	</div>
  </div>
</div>

<% if session["cart"]%>
  <p> <%=link_to "Proceed to checkout", checkout_cart_path, class: "btn btn-primary" %> </p>
<% end %>

<script>
  $(function() {
    $("form select").on("change", function() {
      $(this).parent("form").submit();
    });
  });