Hi <%= @user.name %>,

Thank you for shopping with us. Please find the summary of your order.

Order #<%= @order.id %>:
<% @order.order_items.each do |product| %>
 <%= product.quantity %> <%= product.product.productname %> (<%= product.total_amount %>)
<% end %>

Total Amount: <%= number_to_currency @order.total_amount %>

Cheers,
Achats Team