<h1><%= link_to "Achats", "https://shopping-site-new.herokuapp.com/" , id: "logo" %></h1>

<p>Hi <%= @user.name %>,</p>

<p> Thank you for shopping with us. Please find the summary of your order. </p>

<p> Order #<%= @order.id %>: </p>
<ul>
  <% @order.order_items.each do |product| %>
    <li> <%= product.quantity %> <%= product.product.productname %> (<%= product.total_amount %>) </li>
  <% end %>
</ul>

<p> Total Amount: <%= number_to_currency @order.total_amount %> </p>

Cheers,<br/>
Achats Team<br/>
<a href='https://shopping-site-new.herokuapp.com/'> Achats.com </a>