Hi <%= @user.name %>,


Thank you for shopping with us. 
We wanted to let you know that we <%= @order.state %> your item
If you need to return an item from this shipment or manage any orders, please visit Your Orders on shopping-site-new.herokuapp.com.

Here's the list of products that you placed in your order #<%= @order.id %>:

<%- @order.order_items.each do |product| %>
* <%= product.quantity %> <%= product.product.productname %> (<%= number_to_currency product.total_amount %>)
<%- end %>

Total Amount: <%= number_to_currency @order.total_amount %>

Cheers,
Achats Team