<h1><%= link_to "Achats", "https://shopping-site-new.herokuapp.com/" , id: "logo" %></h1>

<p>Hi <%= @user.name %>,</p>

<p> Thank you for shopping with us. We wanted to let you know that we <%= @order.state %> your item.
If you need to return an item from this shipment or manage any orders,please visit Your Orders on 
<a href='https://shopping-site-new.herokuapp.com/'> Achats.com </a>
</p>


<p> Here's the list of products that you placed in your order #<%= @order.id %>: </p>

<ul>
  <% @order.order_items.each do |product| %>
    <li> <%= product.quantity %> <%= product.product.productname %> (<%= number_to_currency product.total_amount %>) </li>
  <% end %>
</ul>

<p> Total Amount: <%= number_to_currency @order.total_amount %> </p>

Cheers,<br/>
Achats Team<br/>
<a href='https://shopping-site-new.herokuapp.com/'> Achats.com </a>