@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 0.5;
  font-weight: 700;
  color: #E47911;
}

h1 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  padding-left: 60px;
}

h2 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  padding-left: 60px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  background-position: -10px -51px;
  width: 96px;
  height: 29px;
  font-family: Arial,sans-serif;
  text-decoration: none;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#headerID{
 background: #3F3F3F;
}

.noRoundedMargins
{
	border-radius: 0px !important;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}



.form-control{
  width: 350px;
}


label{
  text-align: right;
  font-weight: 750;
  font-size: 1.1em;
}

.checkbox {
  margin-top: 0px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#signUp{
  margin-top: 100px;
}

#editLabels{
  text-align: right;
  font-weight: bold!important;
  font-size: 1.1em;
}

#editFields{
  font-weight:Normal;
}

#hideField{
  display:none;
}

#productTitle {
    font-size: 20px!important;
}

.input-xs {
  height: 22px!important;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; //If Placeholder of the input is moved up, rem/modify this.
  border-radius: 3px;
    }
	
	
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}



.marginTop20
{
	margin-top: 20px;
}

.lesserMarginBottom
{
	margin-bottom: 5px;
}

.mediumMarginBottom
{
	margin-bottom: 50px;
}


.searchImagesContainer
{
	max-width: 200px;
	max-height: 200px;
}

.productImagesContainer
{
    min-width: 250px;
	min-height: 300px;
	max-width: 250px;
	max-height: 400px;
}


.topMarginSignupContainer, .topMarginSigninContainer
{
  margin-top: 5%;
  margin-bottom: 5%;
  moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #c9e1f4;
  min-width: 650px;
  padding: 25px 70px 50px 0px; // Top right Bottom Left  
}

.topMarginSignupContainer
{
min-height: 400px;
}

.topMarginSigninContainer{
  min-height: 350px;
}

.buttonColor{
  width: Auto;
  background-color: #E47911;
  color: black;
  border-radius: 10px;
  font-weight: 750;
  font-size: 1.1em;
}


