<div class="row">
  <div class="col-md-6 col-md-offset-1">
<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <h2> <%= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:" %>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
	  <% end %>
	</ul>
  <% end %>
   
  <%= f.label :name %>
  <%= f.text_field :categoryname %>
  
  <div class="row">
	<div class="col-sm-4">
      <%= f.submit 'Save', class: "btn btn-primary buttonColor" %>
    </div>
    <div class="col-md-4">		
      <%= link_to 'Show', @category %>
    </div>
    <div class="col-md-4">
      <%= link_to 'Back', categories_path %>
    </div>
  </div>
<% end %>
  </div>
</div>