<h3>All categories</h3>
<hr/>


<% @categories.each do |category| %>
  <div class="row">
    <div class="col-sm-2">
	  <span class="category"><%= category.categoryname %></span>
    </div>

	<% if current_user && current_user.admin? %>
	  <div class="col-sm-2">
	    <%= link_to 'Show', category %>
	  </div>
	  <div class="col-sm-2">
        <%= link_to 'Edit', edit_category_path(category) %>
	  </div>
	  <div class="col-sm-2">
        <%= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure you want to delete this category?' } %>
	  </div>
    <% end %> 
	<div class="col-sm-4"> </div> 
  </div>
<% end %>
<hr/>
<% if current_user && current_user.admin? %>
  <%= link_to 'New Category', new_category_path, :class => "btn btn-primary buttonColor" %>
<% end %>