<%= form_tag category_path, :method => 'get', :id => "product_sort" do %>
  
  <div class="row">
    <div class="col-sm-4">
	  <h3> <%= @category.categoryname %>  (<%= @products.count %>)</h3>
	</div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <%= select_tag "sort_value", options_for_select(Category::SORT_VALUES), {:class => 'form-control',:prompt => "Sort"}%>
	</div>
  </div>
  
<% end %>
  <%=render "products/productCategory", products: @products %>

<script>
  $(function() {
    $("form select").on("change", function() {
      $(this).closest("form").submit();
    });
  });
</script>