<% if @products.any? %>
   
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <%= will_paginate  @products %>
    </div>
    <div class="col-sm-2"></div>
  </div>
  
  <div class="row container" style="height:488px;">
    <% @products.each do |product| %>
      <div class="col-sm-4">
	    <%= image_tag(product.image_url,height:'160',weight:'160', :class => "searchImagesContainer") if product.image_url.present? %>
	    <p><%= link_to truncate(product.productname,:length =>25,:omission => '.....'),product %></p>
	    <p><%= number_to_currency product.unitcost %></p>
	    <p>
	    <% if current_user && current_user.admin? %>
		  <div class="row">
	        <div class="col-sm-2">
              <%= link_to 'Edit', edit_product_path(product) %>
			</div>
	        <div class="col-sm-2">
              <%= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure you want to delete this product?' } %>
			</div>
			<div class="col-sm-8"></div>
	      </div>
		<% end %>
		</p>
	  </div>
	<% end %>
  </div>
 
  <p>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <%= will_paginate  @products %>
    </div>
    <div class="col-sm-2"></div>
  </div>
  </p>
<% end %>  