<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <%= form_for(@product, :html => { :multipart => true }) do |f| %>
      <% if @product.errors.any? %>
        #error_explanation
        <h2> <%= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:" %> </h2>
        <ul>
          <%= @product.errors.full_messages.each do |msg| %>
            <li> <%= msg %></li>
		  <% end %>
	    </ul>
      <% end %>
  
      <%= f.label :name %>
      <%= f.text_field :productname %>
   
      <%= f.label :price %>
      <%= f.text_field :unitcost %>
      
      <%= f.label :image %>
      <%= f.file_field :productimage %>
      
      <%= f.label :category %>
      <%= f.select :category_id, Category.all.map { |c| [ c.categoryname, c.categoryid ] } %>
      
	  <div class="row">
	    <div class="col-sm-4">
          <%= f.submit 'Save', class: "btn btn-primary buttonColor" %>
		</div>
		<div class="col-md-4">		
	      <%= link_to 'Show', @product %>
		</div>
		<div class="col-md-4">
          <%= link_to 'All Products', products_path %>
		</div>
	  </div>
<% end %>
  </div>
</div>