<%= form_tag products_path, :method => 'get', :id => "products_search" do %>

  <div class="row">
    <div class="col-sm-4">
	  <h3>Products (<%= @products.count %>)</h3>
	</div>
	<div class="col-sm-4"></div>
    <div class="col-sm-4">
      <%= select_tag "sort_value", options_for_select(Product::SORT_VALUES), {:class => 'form-control', :prompt => "Sort"}%>
	</div>
  </div>

  <%= render "products/productCategory", products: @products %>
<% end %>

<% if current_user && current_user.admin? %>
  <p> <%= link_to 'New Product', new_product_path, class: "btn btn-primary buttonColor" %> </p>
<% end %>

<script>
  $(function() {
    $("form select").on("change", function() {
      $(this).closest("form").submit();
    });
  });
</script>
