<div class="row">
  <div class="col-sm-3"> <%= image_tag(@product.image_url, :class => "productImagesContainer") if @product.image_url.present? %> </div>
  <div class="col-sm-7">
    <p id="productTitle"> <%= @product.productname %></p>
    <p> <%= number_to_currency @product.unitcost %> </p>
    <p> <%= @product.category.categoryname %> </p>
    <p> <%= raw @product.reviews %> </p>
  </div>
  <div class="col-sm-2">
    <p>
	  <%= link_to "Add to cart", add_cart_path , method: :post, class: "btn btn-primary buttonColor" %>
	</p>
    <% if current_user && current_user.admin? %>
	<div class="row">
	  <div class="col-sm-2">
        <%= link_to 'Edit', edit_product_path(@product) %> 
	  </div>
	  <div class="col-sm-1"></div>
	  <div class="col-sm-2">
        <%= link_to 'Back', products_path %> 
	  </div>
	  <div class="col-sm-7"></div>
	</div>
    <% end %>
  </div>
</div>