<% if @cart %>
    <% if @cart.is_empty? %>
      <%= link_to ('<i id="nav-cart-count" class="glyphicon glyphicon-shopping-cart"></i> Cart').html_safe, cart_path %>
	<% else %>
	  <%= link_to ('<i id="nav-cart-count" class="glyphicon glyphicon-shopping-cart">'+"#{@cart.product_count}"+'</i> Cart').html_safe, cart_path %>
    <% end %>
<% end %>