<footer class="footer">

  <small>
  <%= link_to image_tag("logo.svg", alt: "Achats logo", height: '137', width: '178'),
            'https://shopping-site-new.herokuapp.com/' %>

    <a href="https://shopping-site-new.herokuapp.com/">Ecommerce Site</a>
    by <a href="https://in.linkedin.com/pub/suma-chaganti/1b/8b2/807">Suma Chaganti</a>
	
  </small>
  
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
	  <li><%= link_to "Help",   help_path %></li>
    </ul>
  </nav>
</footer>