<header class="navbar navbar-inverse noRoundedMargins" id="headerID">
  <div class="container">
    <%= link_to "Achats", root_path, id: "logo" %>
	
	
	<ul class="nav navbar-nav">
      <li><%= link_to "Products", products_path %></li>
      <li class="dropdown">
        <%= link_to "#", data: { toggle: "dropdown" } do %>
          Categories
          <span class="caret"></span>
        <%- end %>
        <ul class="dropdown-menu">
          <% @categories.each do |category| %>
            <li><%= link_to category.categoryname, category %></li>
          <% end %>
        </ul>
      </li>
	  <li>	   

	  
	  <%= form_tag products_path, :method => 'get', :id => "products_search" do %>
          <br>
		  <div class="row">
		    <div class="col-sm-10">
			  <%= text_field_tag :search, params[:search], class: "form-control input-xs search-query",
			  placeholder: "Search Products", type: "search", data: {autocomplete: autocomplete_product_productname_products_path} %>   
			  
              
			  
			</div>
			<div class="col-sm-1">
              <%= button_tag(type: 'submit', class: "btn btn-default btn-search btn-primary btn-xs") do %>
                <i class="glyphicon glyphicon-search"></i> 
              <% end %>  
			</div>
          </div>
		<% end  %>
	  </li>
	</ul>
	
	
    <nav>
      <ul class="nav navbar-nav navbar-right">
	    
		<li> <%= link_to "Sign up now!", signup_path %></li>
        
		<% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", edit_user_path(current_user) %></li>
              <li><%= link_to "Order History", :action=>"order_history", :controller=>"orders" %></li>
			  <% if current_user && current_user.admin? %>
			    <li><%= link_to "Manage Orders", orders_path%></li>
				<li><%= link_to "Manage Users", users_path%></li>
				<li><%= link_to "Manage Categories", categories_path%></li>
			  <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", login_path, class: "navbar-link" %></li>
        <% end %>
		<li> <%= render "layouts/cart" %> </li>
	  </ul>	  
    </nav>
  </div>
</header> 

